<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [style.width]="sidenavWidth()" opened *ngIf="!isLoginPage()" id="sidenav"> 
     <app-sidenav></app-sidenav>
    </mat-sidenav>
     
    <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
    <mat-sidenav-content>
      <!-- <div *ngIf="loading && isLoginPage()" class="d-flex justify-content-center">
      <mat-spinner></mat-spinner>
    </div>
      <div *ngIf="loading && !isLoginPage()"  class="loader-container">
        <mat-progress-bar  mode="indeterminate"></mat-progress-bar>
      </div> -->
      <mat-toolbar *ngIf="!isLoginPage()" class="d-flex justify-content-between" style="background-color: white;">
        <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon" (click)="collapsed.set(!collapsed())">
          <mat-icon>menu</mat-icon>
        </button>
        <div>
        <button [matMenuTriggerFor]="menu" mat-icon-button color="primary" aria-label="Example icon button with a menu icon">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
             <mat-icon>account_circle</mat-icon>
             Profile
          </button>
           <button mat-menu-item (click)="_loginService.LogoutAdmin()">
               <mat-icon>exit_to_app</mat-icon>
               Logout
           </button>
        </mat-menu>
      </div>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>

  <!-- [style.margin-left]="sidenavWidth()" -->

  <!-- (click)="startLoading()" -->