<div class="main">
    <!-- Dashboard First Cards -->
    <div class="container">
        <div class="row">
            <div class="col-3">
                <mat-card class="p-2 d-grid">
                    <mat-card-header>
                        <mat-card-title class="d-flex gap-2"><mat-icon matListItemIcon>store</mat-icon>Total Products</mat-card-title>
                        <mat-card-subtitle class="fs-4">10</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="p-2 d-grid">
                    <mat-card-header>
                        <mat-card-title class="d-flex gap-2"><mat-icon matListItemIcon>supervisor_account</mat-icon>Total Users</mat-card-title>
                        <mat-card-subtitle class="fs-4">200</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="p-2 d-grid">
                    <mat-card-header>
                        <mat-card-title class="d-flex gap-2"><mat-icon matListItemIcon>attach_money</mat-icon>Total Revenue</mat-card-title>
                        <mat-card-subtitle class="fs-4">$199</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="col-3">
                <mat-card class="p-2 d-grid">
                    <mat-card-header>
                        <mat-card-title class="d-flex gap-2"><mat-icon matListItemIcon>perm_identity</mat-icon>Total Clients</mat-card-title>
                        <mat-card-subtitle class="fs-4">20</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
    </div>


</div>  